go 1.27.0

use ./shared/methodingress-controller
// use ./shared/logging
// use ./services/endpoints/inventory.adjust
// use ./services/endpoints/users.get
// use ./services/endpoints/orders.create
// use ./services/subscribers/user.created
// use ./services/subscribers/order.placed
// use ./services/subscribers/inventory.changed
// use ./services/brokers/sql
// use ./services/brokers/redis
// use ./services/brokers/ipc
